{% extends 'base.html' %}

{% block css %} 
<link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
{% endblock %} 

{% block body %} 
    <div class="center" style="width:100%; margin-top: 200px">
        {% for message in get_flashed_messages() %}
            {{ message }}
            {% if not loop.last %} 
                <br>
            {% endif %}
        {% endfor %} 
    </div>
    
    <form style="width:100%" method="POST">
        <div class="center" style="width:100%">
            <table id="login">
                <tr>
                    <td>
                        Username: <br>
                        <input type="text" name="username" id="username">
                    </td>
                    <td>
                        Password: <br>
                        <input type="text" name="password" id="password">
                    </td>
                </tr>
            </table>
        </div>
        <div class="center" style="width:100%">
            <input name="submit" type="submit" value="Login">
        </div>
    </form>
    
    <div class="center" style="width:100%; margin-top: 20px">
        If you are not sure if your username is taken, please visit &nbsp; <a href="{{ url_for('routes.check_username') }}"> this page</a>
    </div>

{% endblock %} 